{% extends "base.html" %}
{% block bodycontent %}
<!--header end-->
<div id="mainbody" style="background-color: #333333">
  <div class="blogs">
    <div class="newlist">
  <h2>您当前的位置：<a href="/">首页</a>&nbsp;>&nbsp;新增文章</h2>

<ul>
{#    {% for x in diary_blog %}#}
{#        <p class="ptit"><b><a href="{% url 'article' x.id %}"> {{ x.blog_title }}</a></b></p>#}
{#        <p class="ptime">发布时间：{{ x.blog_timestamp }} 作者：{{ x.blog_author }}  分类：{{ x.blog_type }} </p>#}
{#        <div class="pcon">{{ x.blog_body }}</div>#}
{#        <div class="line"></div>#}
{#    {% endfor %}#}
<form method="post" action="/grzx/sub_article/">
    {% csrf_token %}
    <p>文章标题</p>
    <div>
        <select name="article_type" style="height: 20px; width: 120px;">
            <option value="Python" selected="selected">Python</option>
            <option value="abouttest">测试相关</option>
            <option value="mytalk">个人杂谈</option>
            <option value="diary">偶尔能想起来的日记</option>
        </select>
        <input name="article_title" type="text" style="height: 20px;width: 400px;" placeholder="请输入文章标题">
{#        <input name="article_markdown" type="checkbox" value="1">MarkDown#}
        <select name="article_markdown" style="height: 20px; width: 90px;">
            <option value="1" selected="selected">MarkDown</option>
            <option value="0">普通文本</option>
        </select>
    </div>
    <p>文章内容</p>
    <textarea name="article_editor" rows="55" style="width: 630px;"></textarea>
    <input type="submit" value="提交" style="margin-left: 300px;width: 60px;height: 20px;">
</form>
</ul>

<div class="page">
    <a title="Total record"><b>38</b></a>
    <b>1</b><a href="/jstt/index_2.html">2</a>
    <a href="/jstt/index_2.html">></a>
    <a href="/jstt/index_2.html">>></a></div>
</div>

    <!--bloglist end-->
    <aside>
        <div class="card" style="width: 280px;">
            <h1>About Me</h1>
            <p>网名：Sven Weng | 点点寒彬</p>
            <p>职业：测试工程师</p>
            <p>公司：华林证券</p>
            <p>Email：234827102@qq.com</p>
          <ul class="linkmore">
            <li><a href="/grzx/add_article" class="talk" title="给我留言"></a></li>
            <li><a href="/" class="address" title="联系地址"></a></li>
            <li><a href="/" class="email" title="给我写信"></a></li>
            <li><a href="/" class="photos" title="生活照片"></a></li>
    {#        <li><a href="/" class="heart" title="关注我"></a></li>#}
          </ul>
        </div>
      <div class="search">
        <form class="searchform" method="get" action="#">
          <input type="text" name="s" value="Search" onfocus="this.value=''" onblur="this.value='Search'">
        </form>
      </div>
{#      <div class="tuijian">#}
{#        <h2>栏目更新</h2>#}
{#        <ol>#}
{#          <li><span><strong>1</strong></span><a href="/">有一种思念，是淡淡的幸福,一个心情一行文字</a></li>#}
{#          <li><span><strong>2</strong></span><a href="/">励志人生-要做一个潇洒的女人</a></li>#}
{#          <li><span><strong>3</strong></span><a href="/">女孩都有浪漫的小情怀――浪漫的求婚词</a></li>#}
{#          <li><span><strong>4</strong></span><a href="/">Green绿色小清新的夏天-个人博客模板</a></li>#}
{#          <li><span><strong>5</strong></span><a href="/">女生清新个人博客网站模板</a></li>#}
{#          <li><span><strong>6</strong></span><a href="/">Wedding-婚礼主题、情人节网站模板</a></li>#}
{#          <li><span><strong>7</strong></span><a href="/">Column 三栏布局 个人网站模板</a></li>#}
{#          <li><span><strong>8</strong></span><a href="/">时间煮雨-个人网站模板</a></li>#}
{#          <li><span><strong>9</strong></span><a href="/">花气袭人是酒香―个人网站模板</a></li>#}
{#        </ol>#}
{#      </div>#}
{#      <div class="toppic">#}
{#        <h2>图文并茂</h2>#}
{#        <ul>#}
{#          <li><a href="/"><img src="../../static/images/k01.jpg">腐女不可怕，就怕腐女会画画！#}
{#            <p>伤不起</p>#}
{#            </a></li>#}
{#          <li><a href="/"><img src="../../static/images/k02.jpg">问前任，你还爱我吗？无限戳中泪点~#}
{#            <p>感兴趣</p>#}
{#            </a></li>#}
{#          <li><a href="/"><img src="../../static/images/k03.jpg">世上所谓幸福，就是一个笨蛋遇到一个傻瓜。#}
{#            <p>喜欢</p>#}
{#            </a></li>#}
{#        </ul>#}
{#      </div>#}
{#      <div class="clicks">#}
{#        <h2>热门点击</h2>#}
{#        <ol>#}
{#          <li><span><a href="/">慢生活</a></span><a href="/">有一种思念，是淡淡的幸福,一个心情一行文字</a></li>#}
{#          <li><span><a href="/">爱情美文</a></span><a href="/">励志人生-要做一个潇洒的女人</a></li>#}
{#          <li><span><a href="/">慢生活</a></span><a href="/">女孩都有浪漫的小情怀――浪漫的求婚词</a></li>#}
{#          <li><span><a href="/">博客模板</a></span><a href="/">Green绿色小清新的夏天-个人博客模板</a></li>#}
{#          <li><span><a href="/">女生个人博客</a></span><a href="/">女生清新个人博客网站模板</a></li>#}
{#          <li><span><a href="/">Wedding</a></span><a href="/">Wedding-婚礼主题、情人节网站模板</a></li>#}
{#          <li><span><a href="/">三栏布局</a></span><a href="/">Column 三栏布局 个人网站模板</a></li>#}
{#          <li><span><a href="/">个人网站模板</a></span><a href="/">时间煮雨-个人网站模板</a></li>#}
{#          <li><span><a href="/">古典风格</a></span><a href="/">花气袭人是酒香―个人网站模板</a></li>#}
{#        </ol>#}
{#      </div>#}
    </aside>
  </div>
  <!--blogs end-->
</div>
<!--mainbody end-->
{% endblock bodycontent %}