<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>点点寒彬的个人博客</title>
<meta name="keywords" content="黑色模板,个人网站模板,个人博客模板,博客模板,css3,html5,网站模板" />
<meta name="description" content="这是一个有关黑色时间轴的css3 html5 网站模板" />
<link href="/static/css/styles.css" rel="stylesheet" media="screen" type="text/css">
<link href="/static/css/animation.css" rel="stylesheet" media="screen" type="text/css">
<!-- 返回顶部调用 begin -->
<link href="/static/css/lrtk.css" rel="stylesheet" media="screen" type="text/css"/>
<link rel="stylesheet" type="text/css" href="/static/css/view.css">
<link rel="stylesheet" type="text/css" href="/static/css/markdown/perldoc.css">
<script type="text/javascript" src="/static/js/jquery.js"></script>
<script type="text/javascript" src="/static/js/js.js"></script>
<!-- 返回顶部调用 end-->
<!--[if lt IE 9]>
<script src="js/modernizr.js"></script>
<![endif]-->
</head>
<body>
<header>
  <nav id="nav">
    <ul>
      <li><a href="/" >网站首页</a></li>
      <li><a href="/grzx/Python">Python</a></li>
      <li><a href="/grzx/abouttest">测试相关</a></li>
      <li><a href="/grzx/mytalk">个人扯淡</a></li>
      <li><a href="/grzx/diary">偶尔能想起来的日记</a></li>
    </ul>
    <script src="/static/js/silder.js"></script><!--获取当前页导航 高亮显示标题-->
  </nav>
</header>

{% block bodycontent %}
{% endblock bodycontent %}

<footer>
  <div class="footer-mid">
    <div class="links">
      <h2>友情链接</h2>
      <ul>
        <li><a href="http://blog.csdn.net/wyb199026" target="_blank">我的CSDN</a></li>
        <li><a href="http://www.jianshu.com/users/82eee120776d/latest_articles" target="_blank">我的简书</a></li>
          <li><a href="https://testerhome.com" target="_blank">TesterHome</a></li>
      </ul>
    </div>
    <div class="visitors">
      <h2>最新评论</h2>
      <dl>
        <dt><img src="/static/images/s8.jpg">
        <dt>
        <dd>DanceSmile
          <time>49分钟前</time>
        </dd>
        <dd>在 <a href="http://www.yangqq.com/jstt/bj/2013-07-28/530.html" class="title">如果要学习web前端开发，需要学习什么？ </a>中评论：</dd>
        <dd>文章非常详细，我很喜欢.前端的工程师很少，我记得几年前yahoo花高薪招聘前端也招不到</dd>
      </dl>
      <dl>
        <dt><img src="/static/images/s7.jpg">
        <dt>
        <dd>yisa
          <time>2小时前</time>
        </dd>
        <dd>在 <a href="http://www.yangqq.com/news/s/2013-07-31/533.html" class="title">芭蕾女孩的心事儿</a>中评论：</dd>
        <dd>我手机里面也有这样一个号码存在</dd>
      </dl>
      <dl>
        <dt><img src="/static/images/s6.jpg">
        <dt>
        <dd>小林博客
          <time>8月7日</time>
        </dd>
        <dd>在 <a href="http://www.yangqq.com/jstt/bj/2013-06-18/285.html" class="title">如果个人博客网站再没有价值，你还会坚持吗？ </a>中评论：</dd>
        <dd>博客色彩丰富，很是好看</dd>
      </dl>
    </div>
    <section class="flickr">
      <h2>摄影作品</h2>
      <ul>
        <li><a href="/"><img src="/static/images/01.jpg"></a></li>
        <li><a href="/"><img src="/static/images/02.jpg"></a></li>
        <li><a href="/"><img src="/static/images/03.jpg"></a></li>
        <li><a href="/"><img src="/static/images/04.jpg"></a></li>
        <li><a href="/"><img src="/static/images/05.jpg"></a></li>
        <li><a href="/"><img src="/static/images/06.jpg"></a></li>
        <li><a href="/"><img src="/static/images/07.jpg"></a></li>
        <li><a href="/"><img src="/static/images/08.jpg"></a></li>
        <li><a href="/"><img src="/static/images/09.jpg"></a></li>
      </ul>
    </section>
  </div>
  <div class="footer-bottom">
    <p>Copyright 2013 Design by <a href="http://www.yangqq.com">Sven_Weng</a></p>
  </div>
</footer>
<!-- jQuery仿腾讯回顶部和建议 代码开始 -->
<div id="tbox"> <a id="togbook" href="/e/tool/gbook/?bid=1"></a> <a id="gotop" href="javascript:void(0)"></a> </div>
<!-- 代码结束 -->
</body>
</html>