{% extends "base.html" %}
{% block bodycontent %}
<!--header end-->
<div id="mainbody">
  <div class="blogs">
    <div class="newlist">
  <h2><span>
      <a href="/jstt/div/">div+css</a>

      <a href="/jstt/bj/">心得笔记</a>

      <a href="/jstt/asp/">ASP</a>

      <a href="http://www.ip3q.com/">IP查询</a>

      <a href="/news/jsex/">JS经典实例</a>

      <a href="/jstt/html5/">html5资讯</a>
</span>您当前的位置：<a href="/index.html">首页</a>&nbsp;>&nbsp;<a href="/jstt/">技术探讨</a></h2>
     <ul>

<p class="ptit"><b><a href="/jstt/div/2013-08-10/576.html" target="_blank" title=" li列表在网页中常见应用例举（二）"> li列表在网页中常见应用例举（二）</a></b></p>
<p class="ptime">发布时间：2013-08-10 作者：杨青  分类：div+css </p>
<a href="/jstt/div/2013-08-10/576.html" target="_blank" title=" li列表在网页中常见应用例举（二）"><img src="../../static/images/s1.jpg" class="imgdow" alt=" li列表在网页中常见应用例举（二）"></a> <p class="pcon">li列表加时间，li列表背景图片的应用，li标签里面的span应该放在前面，如果放在后面IE浏览器较低版本会出现错位 <a href="/jstt/div/2013-08-10/576.html" target="_blank" title=" li列表在网页中常见应用例举（二）">详细信息</a></P>
<div class="line"></div>

<p class="ptit"><b><a href="/jstt/div/2013-08-10/575.html" target="_blank" title="li列表在网页中常见应用例举（一）">li列表在网页中常见应用例举（一）</a></b></p>
<p class="ptime">发布时间：2013-08-10 作者：杨青  分类：div+css </p>
<a href="/jstt/div/2013-08-10/575.html" target="_blank" title="li列表在网页中常见应用例举（一）"><img src="../../static/images/s2.jpg" class="imgdow" alt="li列表在网页中常见应用例举（一）"></a> <p class="pcon">li在网页中的应用,list-style-type,设置或检索对象的列表项所使用的预设标记。list-style-image：属性使用图像来替换列表项的标记,li列表前面用图片来展示.注意：ol对象和ul对象的type特性为其后的所有列表项目（如li对象）指明列表属性。 <a href="/jstt/div/2013-08-10/575.html" target="_blank" title="li列表在网页中常见应用例举（一）">详细信息</a></P>
<div class="line"></div>

<p class="ptit"><b><a href="/jstt/bj/2013-08-06/570.html" target="_blank" title="帝国cms怎样修改列表分页函数">帝国cms怎样修改列表分页函数</a></b></p>
<p class="ptime">发布时间：2013-08-06 作者：杨青  分类：心得笔记 </p>
<a href="/jstt/bj/2013-08-06/570.html" target="_blank" title="帝国cms怎样修改列表分页函数"><img src="../../static/images/s3.jpg" class="imgdow" alt="帝国cms怎样修改列表分页函数"></a> <p class="pcon">修改帝国默认的列表分页样式和伪静态页面留言版的分页样式。本来想在默认的模板标签上修改，看了看代码，b和a标签前后都多了空格，如果在现在的基础上改，简单改改也行，不过实在是受不了那么多空格符，而且如果用display:block的话... <a href="/jstt/bj/2013-08-06/570.html" target="_blank" title="帝国cms怎样修改列表分页函数">详细信息</a></P>
<div class="line"></div>

<p class="ptit"><b><a href="/jstt/div/2013-08-03/549.html" target="_blank" title="html css 十一条网页设计经典实用的代码片段">html css 十一条网页设计经典实用的代码片段</a></b></p>
<p class="ptime">发布时间：2013-08-03 作者：杨青  分类：div+css </p>
<a href="/jstt/div/2013-08-03/549.html" target="_blank" title="html css 十一条网页设计经典实用的代码片段"><img src="../../static/images/s4.jpg" class="imgdow" alt="html css 十一条网页设计经典实用的代码片段"></a> <p class="pcon">这十一条网页设计经典实用的代码片段，在网站的应用中都比较广泛。方便快速的查阅以及建设一个新的页面，非常适合刚接触的web前端设计。包括设置一些字体、站点链接、IE6bug的处理，导航菜单以及高亮显示菜单，还有表单的一些设计... <a href="/jstt/div/2013-08-03/549.html" target="_blank" title="html css 十一条网页设计经典实用的代码片段">详细信息</a></P>
<div class="line"></div>

<p class="ptit"><b><a href="/jstt/div/2013-07-31/532.html" target="_blank" title="Fieldset教你如何绘制带标题的表单框">Fieldset教你如何绘制带标题的表单框</a></b></p>
<p class="ptime">发布时间：2013-07-31 作者：杨青  分类：div+css </p>
<a href="/jstt/div/2013-07-31/532.html" target="_blank" title="Fieldset教你如何绘制带标题的表单框"><img src="../../static/images/s5.jpg" class="imgdow" alt="Fieldset教你如何绘制带标题的表单框"></a> <p class="pcon">一朋友问我像这样的表单样式是怎么实现的，我看到图，第一眼的印象应该是用图片来实现的，或者是用postion来定位实现的。本例演示如何在数据周围绘制一个带标题的框。 <a href="/jstt/div/2013-07-31/532.html" target="_blank" title="Fieldset教你如何绘制带标题的表单框">详细信息</a></P>
<div class="line"></div>

<p class="ptit"><b><a href="/jstt/bj/2013-07-28/530.html" target="_blank" title="如果要学习web前端开发，需要学习什么？">如果要学习web前端开发，需要学习什么？</a></b></p>
<p class="ptime">发布时间：2013-07-28 作者：杨青  分类：心得笔记 </p>
<a href="/jstt/bj/2013-07-28/530.html" target="_blank" title="如果要学习web前端开发，需要学习什么？"><img src="../../static/images/s6.jpg" class="imgdow" alt="如果要学习web前端开发，需要学习什么？"></a> <p class="pcon">遇到很多新手，都会问，如果要学习web前端开发，需要学习什么？难不难？多久能入门？怎么能快速建一个网站？工资能拿到多少？还有些让我推荐一些培训机构什么的要去学习。我建议是自学，实在是觉得自己没有这个能力，确实是需要一个老师的话，那你还是自己做主找个老师吧！ <a href="/jstt/bj/2013-07-28/530.html" target="_blank" title="如果要学习web前端开发，需要学习什么？">详细信息</a></P>
<div class="line"></div>


  </ul>
<div class="page"><a title="Total record"><b>38</b></a><b>1</b><a href="/jstt/index_2.html">2</a><a href="/jstt/index_2.html">></a><a href="/jstt/index_2.html">>></a></div>
</div>

    <!--bloglist end-->
    <aside>
      <div class="search">
        <form class="searchform" method="get" action="#">
          <input type="text" name="s" value="Search" onfocus="this.value=''" onblur="this.value='Search'">
        </form>
      </div>
      <div class="sunnav">
        <ul>
          <li><a href="/web/" target="_blank" title="网站建设">网站建设</a></li>
          <li><a href="/newshtml5/" target="_blank" title="HTML5 / CSS3">HTML5 / CSS3</a></li>
          <li><a href="/jstt/" target="_blank" title="技术探讨">技术探讨</a></li>
          <li><a href="/news/s/" target="_blank" title="慢生活">慢生活</a></li>
        </ul>
      </div>
      <div class="tuijian">
        <h2>栏目更新</h2>
        <ol>
          <li><span><strong>1</strong></span><a href="/">有一种思念，是淡淡的幸福,一个心情一行文字</a></li>
          <li><span><strong>2</strong></span><a href="/">励志人生-要做一个潇洒的女人</a></li>
          <li><span><strong>3</strong></span><a href="/">女孩都有浪漫的小情怀――浪漫的求婚词</a></li>
          <li><span><strong>4</strong></span><a href="/">Green绿色小清新的夏天-个人博客模板</a></li>
          <li><span><strong>5</strong></span><a href="/">女生清新个人博客网站模板</a></li>
          <li><span><strong>6</strong></span><a href="/">Wedding-婚礼主题、情人节网站模板</a></li>
          <li><span><strong>7</strong></span><a href="/">Column 三栏布局 个人网站模板</a></li>
          <li><span><strong>8</strong></span><a href="/">时间煮雨-个人网站模板</a></li>
          <li><span><strong>9</strong></span><a href="/">花气袭人是酒香―个人网站模板</a></li>
        </ol>
      </div>
      <div class="toppic">
        <h2>图文并茂</h2>
        <ul>
          <li><a href="/"><img src="../../static/images/k01.jpg">腐女不可怕，就怕腐女会画画！
            <p>伤不起</p>
            </a></li>
          <li><a href="/"><img src="../../static/images/k02.jpg">问前任，你还爱我吗？无限戳中泪点~
            <p>感兴趣</p>
            </a></li>
          <li><a href="/"><img src="../../static/images/k03.jpg">世上所谓幸福，就是一个笨蛋遇到一个傻瓜。
            <p>喜欢</p>
            </a></li>
        </ul>
      </div>
      <div class="clicks">
        <h2>热门点击</h2>
        <ol>
          <li><span><a href="/">慢生活</a></span><a href="/">有一种思念，是淡淡的幸福,一个心情一行文字</a></li>
          <li><span><a href="/">爱情美文</a></span><a href="/">励志人生-要做一个潇洒的女人</a></li>
          <li><span><a href="/">慢生活</a></span><a href="/">女孩都有浪漫的小情怀――浪漫的求婚词</a></li>
          <li><span><a href="/">博客模板</a></span><a href="/">Green绿色小清新的夏天-个人博客模板</a></li>
          <li><span><a href="/">女生个人博客</a></span><a href="/">女生清新个人博客网站模板</a></li>
          <li><span><a href="/">Wedding</a></span><a href="/">Wedding-婚礼主题、情人节网站模板</a></li>
          <li><span><a href="/">三栏布局</a></span><a href="/">Column 三栏布局 个人网站模板</a></li>
          <li><span><a href="/">个人网站模板</a></span><a href="/">时间煮雨-个人网站模板</a></li>
          <li><span><a href="/">古典风格</a></span><a href="/">花气袭人是酒香―个人网站模板</a></li>
        </ol>
      </div>
    </aside>
  </div>
  <!--blogs end-->
</div>
<!--mainbody end-->
{% endblock bodycontent %}